################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/class/20221117_SESSION_028/HELLO_VISUAL_STUDIO/.vs/HELLO_VISUAL_STUDIO/v17/Browse.VC.opendb
*.opendb
